<div class="container px-4 mx-auto my-8">
  <div class="mx-auto">
    <div class="flex items-center justify-between mb-4">
      <h1 class="h3"><%= t("shared.scaffold.new.title", model: t("deceased_person")) %></h1>
      <%= link_to t("cancel"), deceased_people_path, class: "btn btn-link" %>
    </div>

    <div class="p-8 bg-white rounded shadow">
      <%= render "form", deceased_person: @deceased_person %>
    </div>
  </div>
</div>
