<p style="color: green"><%= notice %></p>

<h1>Contact people</h1>

<div id="contact_people">
  <% @contact_people.each do |contact_person| %>
    <%= render contact_person %>
    <p>
      <%= link_to "Show this contact person", contact_person %>
    </p>
  <% end %>
</div>

<%= link_to "New contact person", new_contact_person_path %>
