<div id="<%= dom_id cemetery %>">
  <p>
    <strong>Name:</strong>
    <%= cemetery.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cemetery.description %>
  </p>

  <p>
    @@@ Need to add address fields here. @@@
  </p>

</div>
