<div id="<%= dom_id cemetery %>">
  <p>
    <strong>Name:</strong>
    <%= cemetery.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= cemetery.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= cemetery.country %>
  </p>

</div>
