<div class="py-32 max-w-2xl m-auto text-right flex flex-col items-right justify-right">

  <p class="mb-6 text-gray-700 leading-normal text-xl">Hakhel111 is a Web app for sending SMS reminders about Yorzeit days</p>
      <div>
      <p>מר ישראל יעקובוביץ׳ שלום וברכה,</p>
      <p>ברוך הבא לאתר יזכור של בית הכנסת בכפר  ורדים.</p>
      <p>לפניך מספר אפשרויות לציון יום הפטירה של אביך מר יוסף יעקובוביץ׳ עליו השלום:</p>
      <ul>
      <li>אמירת קדיש בבית הכנסת על ידי אחד המתפללים</li>
      <li>עליה לקבר, הדלקת נר נשמה ואמירת תהילים לזכר הנפטר</li>
      <li>קידוש לשבת בבית הכנסת</li>
      <li>תרומת סעודה שלישית בבית הכנסת</li>
      <li>סעודת מצוה עם דרשה לזכר הנפטר ביום חול</li>
      </ul>

      </div>
      <div>
      </div>

</div>